#latest{
	position: relative;
	top: -130px;
	padding:50px 0;
}
#latest .header{
	padding: 50px 0;
}
#latest .header:after {
	content: "";
	display: table;
	clear: both;
}
#latest .header h1{
	color: #6066F2;
	font-size: 4.2rem;
	max-width: 400px;
	width: 100%;
	display: inline-block;
	float: left;
}
#latest .header .directions{
	display: inline-block;
	float: right;
	position: relative;
	top: 35px;
}
#latest .header .directions .move-left{
	-webkit-border-top-left-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-bottomleft: 4px;
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
	float: left;
	padding: 20px 70px;
	font-size: 3rem;
	background: #6066F2;
	color: white;
	border: 1px solid #6066F2;
}
#latest .header .directions .move-right{
	-webkit-border-top-right-radius: 4px;
-webkit-border-bottom-right-radius: 4px;
-moz-border-radius-topright: 4px;
-moz-border-radius-bottomright: 4px;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
	float: right;
	padding: 20px 70px;
	font-size: 3rem;
	background: white;
	color: #cecece;
	border: 1px solid #cecece;
}
#latest .body{
	padding: 100px 0;

}
#latest .body:after{
	content: "";
	display: table;
	clear: both;
}
#latest .body .column{
	width: 33.33%;
	float: left;
	padding: 0 15px;
	text-align: center;
}
#latest .body .column .bg-square{
	width: 300px;
	height:200px;
	margin: 0 auto;
	background: rgb(193,191,234); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(193,191,234,1) 0%, rgba(206,199,236,1) 31%, rgba(206,199,236,1) 31%, rgba(216,208,239,1) 50%, rgba(235,233,249,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(193,191,234,1) 0%,rgba(206,199,236,1) 31%,rgba(206,199,236,1) 31%,rgba(216,208,239,1) 50%,rgba(235,233,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(193,191,234,1) 0%,rgba(206,199,236,1) 31%,rgba(206,199,236,1) 31%,rgba(216,208,239,1) 50%,rgba(235,233,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1bfea', endColorstr='#ebe9f9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
position: relative;
}
#latest .body .column .bg-square img{
	width: 105%;
	position: absolute;
	top:-30%;
	left: 1%;
}
#latest .body .column .bg-square .cart{
	width: 80px;
	height: 80px;
	border: 10px solid white; 
	position: absolute;
	top:-40px;
	left:-20px;
	border-radius: 50%;
	background: rgb(193,191,234); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(193,191,234,1) 0%, rgba(206,199,236,1) 31%, rgba(206,199,236,1) 31%, rgba(216,208,239,1) 50%, rgba(235,233,249,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(193,191,234,1) 0%,rgba(206,199,236,1) 31%,rgba(206,199,236,1) 31%,rgba(216,208,239,1) 50%,rgba(235,233,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(193,191,234,1) 0%,rgba(206,199,236,1) 31%,rgba(206,199,236,1) 31%,rgba(216,208,239,1) 50%,rgba(235,233,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1bfea', endColorstr='#ebe9f9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
color: white;
}
#latest .body .column .bg-square .cart .fa{
		font-size: 2rem;
		position: relative;
		top:14px;
		left: -3px;

}
#latest .body .column .line{
		width: 20%;
		height: 2px;
		background: #6066F2;
		margin: 40px auto;
		display: inline-block;
}
#latest .body .column .price{
		color: #FEA83B;
		font-weight: 700;
		font-size: 2.3rem;
}
#latest .footer-contact{
	text-align: center;
	position: relative;
}
#latest .footer-contact img{
	width: 60%;
	opacity: 0.3;
	z-index: 1;
	position: absolute;
	top: 90px;
	left: 15%;
	transform: rotate(-35deg); 
}
#latest .footer-contact .info-box{
	position: relative;
	z-index: 2;
	padding: 200px 0;
}
#latest .footer-contact .info-box h2{
	color: #6066F2;
	font-size: 4rem;
	font-weight: 700;
	text-transform: capitalize;
	margin-bottom: 60px;
	/*display:inline-block;
	margin:0 auto;*/
}
#latest .footer-contact .info-box .input-area{
background: #ffffff;
border-radius: 50px;
display: inline-block;
padding: 10px;
/*float:left;*/
}
#latest .footer-contact .info-box .input-area .fa{
font-size: 2rem;
position: relative;
top: 7px;
margin-right: 15px; 
color: #aaacaf;
}

#latest .footer-contact .info-box .input-area input{
background: white;
border: none;
padding: 10px;
text-transform: uppercase;
font-size: 1rem;
width: 230px;
}
#latest .footer-contact .info-box .input-area button{
background: #6066F2;
padding: 20px 50px;
color: white;
text-transform: uppercase;
font-size: 1rem;
border-radius: 50px;
border:none;
}
/*Laptop Devices*/
@media only screen and (max-width: 1215px) {
    
}
/*Tablet Devices*/
@media only screen and (max-width: 1023px) {
    #latest .header h1{
	font-size: 3.5rem;
	}
	#latest .header .directions{
	top:18px;
	}
    #latest .body .column{
	width: 50%;
	margin-bottom: 150px;
	}
	#latest .footer-contact img{
	width: 80%;
	opacity: 0.3;
	z-index: 1;
	position: absolute;
	top: -50px;
	left: 8%; 
	transform: rotate(-35deg); 
	}
	#latest .footer-contact .info-box .input-area .fa{
	position: relative;
	top: 14px;
	margin-left: 0; 
	float: left;
	width: 15%;
	text-align: center;
	}
	#latest .footer-contact .info-box .input-area{
	width: 100%;
	}
	#latest .footer-contact .info-box .input-area input[type="email"]{
	float: left;
	width: 50%;
	position: relative;
	top: 12px;
	}
	#latest .footer-contact .info-box .input-area button{
	background: #6066F2;
	padding: 20px 0px;
	font-size: 1rem;
	width: 28%;
	float: left;
	}
}
/*Mobile Devices*/
@media only screen and (max-width: 767px) {
	#latest .header h1{
		font-size: 3rem;
		text-align: center;
		width: 100%;
		max-width: none;
	}
	#latest .header .directions{
	display: none;
}
	#latest .body .column{
	width: 100%;
	margin-bottom: 150px;
	}
	#latest .footer-contact img{
	width: 80%;
	opacity: 0.3;
	z-index: 1;
	position: absolute;
	top: -50px;
	left: 8%; 
	transform: rotate(-35deg); 
	}
	#latest .footer-contact .info-box h2{
		margin-top: -160px;
	}
	#latest .footer-contact .info-box .input-area .fa{
	position: relative;
	top: 14px;
	margin-left: 0; 
	float: left;
	width: 15%;
	text-align: center;
	}
	#latest .footer-contact .info-box .input-area{
	width: 100%;
	}
	#latest .footer-contact .info-box .input-area input[type="email"]{
	float: left;
	width: 50%;
	position: relative;
	top: 12px;
	}
	#latest .footer-contact .info-box .input-area button{
	background: #6066F2;
	padding: 20px 0px;
	font-size: 1rem;
	width: 28%;
	float: left;
	}
   
}
